<form class="form-horizontal" action="/movies" method="POST">
<fieldset>
<!-- Form Name -->
<legend>New Movie:</legend>
<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="name">Movie Name</label>
<div class="col-md-4">
<input id="name" name="name" type="text" placeholder="Star Wars" class="form-control input-md">
</div>
</div>
<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label" for="submit"></label>
<div class="col-md-4">
<button id="submit" name="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</fieldset>
</form>

