<form class="form-horizontal" action="/add" method ="post">
<fieldset>

<!-- Form Name -->
<legend>Add new Course </legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Course Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Course name" class="form-control input-md" required="">
  <span class="help-block">Ex. Calculus</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="credit">Course Credit</label>  
  <div class="col-md-4">
  <input id="credit" name="credit" type="text" placeholder="ex. 10" class="form-control input-md">
  <span class="help-block">Total Units</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Course Grade">Course Grade</label>  
  <div class="col-md-4">
  <input id="Course Grade" name="grade" type="text" placeholder="A, A-, B, B-, C, C-" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Add</button>
  </div>
</div>

</fieldset>
</form>
