<h3>The course has been deleted successfully!!</h3>
<div>
    <a href="/add"><button type="button" class="btn btn-primary btn-default btn-block">
	Add new course
	</button> </a>
	</br>
	<a href="/list"><button type="button" class="btn btn-info">Back</button></a>
</div>